h1 {
    font-family: "Comic Sans MS", Gadget, sans-serif;
    color: rgb(15, 6, 6);
    text-align: center;
    font-size: 100;
}
h2 {
    font-family: "Helvetica", Arial, Courier;
    font-size: 10;
    text-align: center;
}
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-style: solid;
  border-color: rgb(14, 33, 206);
  position: absolute;
  top: 120px;
  height: 45px;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-style: solid;
  border-color: rgb(252, 253, 255);
}

nav li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(74, 90, 241);
}
main {
  margin-top: 50px;
  }
  .intro {
    text-align: left;
  }
  .places {
    text-align: left;
  }
.chester {
  text-align: right;
}
.van {
  text-align: left;
}